@{ Layout = "_Login"; }

<div class="container">
    <div class="img">
        <img src="~/login/img/login.png">
    </div>
    <div class="login-content">
        <form method="post" action="/Login/Auth" class="user" id="loginForm" name="login">
            <img src="~/login/img/login-user-icon.png">
            <h2 class="title">Welcome</h2>
            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div class="div">
                    <h5>Email</h5>
                    <input type="text" name="Email" id="Email" class="input">
                </div>
            </div>
            <span class="text-danger" id="Email-errorMsg"></span>
            <div class="input-div pass">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="div">
                    <h5>Password</h5>
                    <input type="password" name="Password" id="Password" class="input">
                </div>
            </div>
            <span class="text-danger" id="Pass-errorMsg"></span>
            <a href="/ForgotPassword">Forgot Password?</a>
            @*<a href="#">Create an Account</a>
                <div hidden>
                    <button type="submit" id="submitForm" class="btn btn-primary btn-user btn-block"> </button>
                </div>*@
            <button @*type="button"*@ type="submit" class="btn" value="Login" @*onclick="validasiLogin()"*@ id="btnLogin">Login</button>
            <a href="Home/Index" style="text-align:center; color:cadetblue">Back to Home</a>
        </form>
    </div>
</div>

<!--modal-->
@*<div id="pwdModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h1 class="text-center">What's My Password?</h1>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="text-center">

                                <p>If you have forgotten your password you can reset it here.</p>
                                <div class="panel-body">
                                    <fieldset>
                                        <div class="form-group">
                                            <input class="form-control input-lg" placeholder="E-mail Address" name="email" type="email">
                                        </div>
                                        <input class="btn btn-lg btn-primary btn-block" value="Send My Password" type="submit">
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-12">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>*@